@model IEnumerable<Kursova.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Index";
    var i = 1;
    var answerId = "";
    var questionId = "";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="qustion">
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Question
            </td>
            <td>
                    
                    @{ answerId = "answer" + item.Id; questionId = "question" + item.Id;}
                    <input type="text" id="@answerId"  />
                    <input type="hidden" value="@item.Id"  name="@answerId"/>
                    <p><input id="@item.Id" type="button" value="Відправити" class="sbt_btn"/></p>




    </td>

    <td>

        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

    </td>

</tr>
}
    </tbody>
</table>
SCORE: <span id="score"></span>
<script type="text/javascript" src="~/jQuery/jquery.js"></script>
<script type="text/javascript">
    var score = 0;
    $(document).ready(function () {
        $(".sbt_btn").click(function ()
        {

            $(this).hide();
            $("#answer" + $(this).attr("id")).attr("disabled", "");
            //alert($(this).attr("id"));
            $.ajax({
                url: "/api/testapi/setanswer",
                data: { "id": $(this).attr("id"), "answer": $("#answer" + $(this).attr("id")).val()},
                contentType: "json",
                success: function (data) {
                    //alert(data);
                    score++;
                    $("#score").empty();
                    $("#score").text(score);
                },
                error: function () {
                    alert("Incorrect");
                }
            })

            $.ajax({
                url: "/api/testapi/GetAnswer",
                contentType: "json",
                success: function (data)
                {
                    alert(data);
                    //$("#questions").append("<inpu")
                   // $("#answer" + $(this).attr("id")).attr("disabled", "");
                }
            })
        })
       
    })
</script>