@model IEnumerable<Kursova.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Question
            </td>
            <td>

                @using (Html.BeginForm("Validate_Answer", "TaskViewModels", FormMethod.Post))
                {

                    @Html.TextBox("answer")
                    <input type="hidden" value="@item.Id"  name="id"/>
                    <p><input type="submit" value="Відправити" /></p>
                }


            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var 
        $("#answer").val();
        $.ajax({
            url: "/api/testapi/validate"
            data: { "id": 1, }
            contentType: "json",
            success: function (data) {

            }
        })
    })
</script>